---
import Mainlayout from "../layout/Mainlayout.astro";
import Button from "../components/Button.astro";
---
<section>
    <h2>Hvad er løsningen?</h2>
    <h1>Genbrug over genanvendelse</h1>
</section>
<section>
    <h2>Ansvaret ligger hos politikerne</h2>
    <p>Alle i samfundet bærer et ansvar. Plastikforurening er et resultat af vores samfunds brug-og-smid-væk kultur. Producenter og industrien har forsynet forbrugere med plastikprodukter, som kan tilfredsstille øjeblikkets behov. 
        Uden at politikerne har sat nogle rammer for, hvordan disse produkter fremstilles og hvordan de skal skilles af med igen.
        Men hvilke tiltag skal der så til for at vi kan ændre på et folkefærdds forbuger vaner og et samfundmæssgit miljø problem?</p>
    <h3>“Hvis vi skal løse problemerne med mikroplastik der tabes og spildes, skal industrien i langt højere grad på banen og holdes til ansvar for design af deres produkter. Vi vil have de danske politikere til at kræve handling i EU”</h3>
<img src="" alt="genbrug vs genanvendelsescirkel">
</section>
<section>
    <h2>Hvad kan genanvendelse? </h2>
    <p>Genanvendelse forgår ved, at produkterne først nedbrydes eller findeles hvorefter der indvindes stoffer eller materialer fra de nedbrudte produkter. Materialerne kan derefter enten bruges ved fremstilling af samme type produkter som de oprindelige, eller til helt andre produkter.
        <br>
        I modsætning til genbrug, hvor produktet ikke nedbrydes først, handler genanvendelse om at indvinde ressourcerne i affaldet.
       <br>
        Når du genanvender tager du altså skridtet videre, her genanvender du materialerne til nye produkter i modsætning til genbrug hvor du genbruger de allerede eksisterende produkter du har.
        Ved genanvendelse smelter du altså plastikken om så du kan lave nye materialer.
        <br>
        Og lige netop denne process er mere omfattende på CO2 fronten da plastikken skal smeltes om og igennem en længere process, derfor ville det bedste for klimaet være, at genbruge vores materialer vi allerede har, derved produceres der mindre og i sidste ende komme vi derved også til at udlede mindre CO2.
       <br>
        Der er et krav om at vi udleder mindre CO2, hvis vi arbejder cirkulært i stedet for at udvinde nye materialer sparer vi miljøet for en masse CO2.
        </p>
    <h3>“Enhver nyttiggørelsesoperation, hvor affaldsmaterialer omforarbejdes til produkter, materialer eller stoffer, hvad entes de bruges til det oprindelige formål eller til andre formål. Kort sagt: Smelt om!”</h3>
</section>
<section>
    <h3>“Enhver proces, hvor produkter eller komponenter, der ikke er affald, bruges igen til det formål, som de var formet til. Kort sagt. Vask og brug igen!”</h3>
    <h2>Genbrug er den sande vinder</h2>
    <p>Plastikprodukter er ikke bare brugbare, de er smarte og holdbare, hvis bare de er produceret og bliver brugt korrekt.
       <br>
        Vi er nødt til at fokusere på at knække kurven for det stigende plastikforbrug og -forurening ved at reducere mængden af plastik i omløb og fremme genbrugsløsninger i stedet for en ”brug-og-smid-væk”-kultur, hvor vores dyrebare ressourcer ikke bliver brugt igen og igen. <br> Målet om at udfase engangsplastik og skabe bedre genbrugsløsninger er en del af alt, hvad vi laver.
        <br>
        Genbrug er, at man bruger det samme produkt (til det samme formål) mere end én gang - evt. ved hjælp af vask eller anden form for rengøring. Så når vi taler om genbrugsløsninger, er det hvad vi som individer selv kan gøre, og hvordan man kan bygge et helt system op, der opfordrer til at genbruge. Hvordan vi kan blive bedre og smartere til at bruge jordens ressourcer, dels fordi det reducerer mængden af CO2-udledninger, der er forbundet med produktion og affaldsforbrænding. Vi skal have fokus på, hvordan man kan skabe et indgroet system, hvor ansvaret for genbrug ikke kun hviler på individet.
        </p>
</section>