---
import MainLayout from "../layout/MainLayout.astro"
import Text from "../components/Text.astro"
import Formular from "../components/Formular2.astro"
import Button from "../components/Button.astro"
---

<MainLayout title="Plastic-change">
	<section class="herosection">
		<div class="herounit">
		<div class="hero_text">
		<Text/>
		<h2>Bliv en plastic changer og støt os i kampen mod plastikforurening </h2>
	</div>
	</div>
		<Formular/>
	</section>

	<section class="section_1">
		<div class="section">
		<article class="grid_1-1">
		<div class="text">
		<h2>#SingleUseSucks</h2>
		<p>
			Plastik er et fantastisk materiale, der gør livet lettere for os alle samme - Men det skal bruges rigtigt. 
			Plastik og især engangsplastik har vidtrækkende konsekvenser for klima, klodens ressourcer, biodiversitet, livet i havet og forurening samt menneskers sundhed.
			Derfor er det vigtigt, at vi skrider ind nu og lukker for plastikhanen, inden det er for sent.
		</p>
		<br> <br>
		<Button variant="primary" link="/sus">Læs mere her</Button>
		</div>
		<img src="/img/genbrugscirkel.svg" alt="Genbrugs cirkel">
		</article>
		</div>
	</section>

	<section class="section2">
		<div class="section">
		<article class="grid_1-1">
		<div class="text reverse">
		<h2>Hvad er løsningen</h2>
		<p>
			I en verden hvor vi udleder 8 mio. tons affald i verdenshavene er det vigtigt at vi begynder at tænke over, hvordan vi bruger og ikke mindst genbruger vores plastik. <br>
			Men skal vi genbruge eller genanvende? hvad er bedst for miljøet? og hvad er nemmest for os? <br>
			Vi skal sammen komme væk fra “brug-og-smid-væk-kulturen” da dette ikke bidrager til at genbruge, men derimod genanvende, og netop det at genanvende er en meget længere process der kun bidrager til mere CO2 udledning. <br>
			Så hvad er den bedste løsning?
		</p>
		<br> <br>
		<Button variant="primary" link="/genbrug">Hvad er den bedste løsning?</Button>
		</div>
		<div class="img">
		<img src="/img/taanker.svg" alt="Tegning af en pige der er forvirret">
		</div>
		</article>
		</div>
	</section>
</MainLayout>

<style>
	.herosection {
		height: 52.625rem;
		background: var(--color-background-hero);
		padding-top: 1rem;
	}

	.herosection h2 {
		color: var(--color-text-h3-secondary);
		width: 35rem;
		max-width: 85rem;
		margin-top: 2rem;
  
	}
	.reverse {
		grid-column: 2;
		grid-row: 1;
	}
	.hero_text{
	width: 75rem;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 8rem;
}

	.herounit {
	max-width: 85rem;
	}

	h2 {
		padding-bottom: 40px;
	}

	.grid_1-1{
        display: grid;
		grid-template-columns: 1fr 1fr;
        gap: 5rem;
    }

	.section {
        width: 81.8125rem; 
        margin-inline: auto;
    }

	.section_1 {
        padding-top: 9.375rem;
    }
    section {
        padding-inline: 2rem;
        padding-bottom: 9.375rem;
    }

	.section2 {
		padding-block: 4rem;
		background-color: var(--color-background-section);
	}

	img{
		max-width: 25rem;
		margin-inline: auto;
	}

	/*Tablet*/
	@media (max-width: 1025px){
		h1{
    font-size: var(--Display-medium);
}
h2{
    font-size: var(--Headline2-medium);
}
p {
    font-size: var(--Body-medium);
	}
		.hero_text{
	width: 55rem;
	margin-top: 8rem;
}

.section{
        width: 52.625rem;
    }
	section {
        padding-inline: 2rem;
        padding-bottom: 6rem;
    }


    .section_1 {
        padding-top: 6rem;
    }

	.section2 {
        padding-block: 6rem;
    }

	img{
		max-width: 20rem;
	}

	}

	/*Mobil*/
@media (max-width: 431px){

	h1{
    font-size: var(--Display-small);
}
h2{
    font-size: var(--Headline2-small);
}
p {
    font-size: var(--Body-small);
	}

	.herosection {
		height:40rem;	
	}
	.hero_text{
	width: 25rem;
	margin-top: 8rem;
}
	.herosection h2 {
		width: 25rem;
		max-width: 25rem;  
	}

	.grid_1-1 {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

	.section{
        width: 20rem;
    }

	section {
        padding-inline: 1rem;
        padding-bottom: 4rem;
    }

    .section_1 {
        padding-top: 4rem;
    }

    .section2 {
        padding-block: 2rem;
    }

	img{
		max-width: 15rem;
		margin-inline: auto;
	}

	.reverse {
		grid-column: 1;
		grid-row: 1;
	}

	.loesning img {
		grid-column: 1;
		grid-row: 1;
	}
}

</style>
