---
import Mainlayout from "../layout/Mainlayout.astro";
import Text from "../components/Text.astro"
import Formular1 from "../components/Formular1.astro";
import Button from "../components/Button.astro"
---

<Mainlayout title="Plastic-change">
	<section class="herosection">
		<div class="herounit">
		<div class="hero_text">
		<Text/>
		<h2>Bliv en plastic changer og støt os i kampen mod plastikforurening </h2>
	</div>
	</div>
	<div class="formular">
		<div class="formcomp"><Formular1/></div>
		</div>
	</section>

	<section class="section_1">
		<div class="section">
		<article class="grid_1-1">
		<div class="text">
		<h2>#SingleUseSucks</h2>
		<p>
			Plastik er et fantastisk materiale, der gør livet lettere for os alle samme - Men det skal bruges rigtigt. 
			Plastik og især engangsplastik har vidtrækkende konsekvenser for klima, klodens ressourcer, biodiversitet, livet i havet og forurening samt menneskers sundhed.
			Derfor er det vigtigt, at vi skrider ind nu og lukker for plastikhanen, inden det er for sent.
		</p>
		<br> <br>
		<Button variant="primary" link="/sus">Læs mere her</Button>
		</div>
		<img src="/img/genbrugscirkel.svg" alt="Genbrugs cirkel">
		</article>
		</div>
	</section>

	<section class="section2">
		<div class="section section_2">
		<article class="grid_1-1">
		<div class="text reverse">
		<h2>Hvad er løsningen</h2>
		<p>
			I en verden hvor vi udleder 8 mio. tons affald i verdenshavene er det vigtigt at vi begynder at tænke over, hvordan vi bruger og ikke mindst genbruger vores plastik. <br>
			Men skal vi genbruge eller genanvende? hvad er bedst for miljøet? og hvad er nemmest for os? <br>
			Vi skal sammen komme væk fra “brug-og-smid-væk-kulturen” da dette ikke bidrager til at genbruge, men derimod genanvende, og netop det at genanvende er en meget længere process der kun bidrager til mere CO2 udledning. <br>
			Så hvad er den bedste løsning?
		</p>
		<br> <br>
		<Button variant="primary" link="/genbrug">Hvad er den bedste løsning?</Button>
		</div>
		<div class="img">
		<img src="/img/taanker.svg" alt="Tegning af en pige der er forvirret">
		</div>
		</article>
		</div>
	</section>
</Mainlayout>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	
	
	gsap.registerPlugin(ScrollTrigger);
	
	gsap.from(".section_1", {
	scrollTrigger: {
		scrub: true,
		trigger: ".hero_text",
		start: "100 start",
		end: "1000 center",
		// markers: true,
	},
	opacity:0,
	duration:0.5,
	}); 

	gsap.from(".section_2", {
	scrollTrigger: {
		scrub: true,
		trigger: ".section_1",
		start: "100 start",
		end: "1000 center",
		// markers: true,
	},
	opacity:0,
	duration:0.5,
	}); 
</script>

<style>
		.herosection {
		height: 52.625rem;
		background: var(--color-background-hero);
		padding-top: 1rem;
		position: relative;
	}

	.herosection h2 {
		color: var(--color-text-h3-secondary);
		width: 35rem;
		margin-top: 2rem;
  
	}
	.reverse {
		grid-column: 2;
		grid-row: 1;
	}
	.hero_text{
	width: auto;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 8rem;
	}
	h2 {
		padding-bottom: 40px;
	}

	.grid_1-1{
        display: grid;
		grid-template-columns: 1fr 1fr;
        gap: 5rem;
    }

	.section {
		width: 100%;
        margin-inline: auto;
    }

	.section_1 {
        padding-top: 9.375rem;
    }
    section {
        padding-inline: 6rem;
        padding-bottom: 9.375rem;
    }

	.section2 {
		padding-block: 4rem;
		background-color: var(--color-background-section);
	}

	img{
		max-width: 25rem;
		margin-inline: auto;
	}

@media screen and (min-width: 768px){
		.herosection {
		background-image: url("/img/hero.svg");
		background-repeat: no-repeat;
		background-size: cover;
		}
	}

/* formular halløj */
.formular{
	display: flex;
	flex-direction: row ;
	justify-content: flex-end;

}
.formular .formcomp{
	flex-basis: 33%;
}

@media screen and (max-width: 767px) {
	.formular .formcomp{
	flex-basis: 90%;
}
}

	/*Tablet*/
@media screen and (min-width: 768px and max-width: 1023px){
	h1{
    	font-size: var(--Display-medium);
	}
	h2{
    	font-size: var(--Headline2-medium);
	}
	p {
    	font-size: var(--Body-medium);
	}
	.hero_text{
		margin-top: 8rem;
	}
	section {
        padding-inline: 2rem;
        padding-bottom: 6rem;
    }
    .section_1 {
        padding-top: 6rem;
    }
	.section2 {
        padding-block: 6rem;
    }
	img{
		max-width: 20rem;
	}

}

	/*Mobil*/
@media screen and (max-width: 767px){

	.herosection {
		background-color: var(--color-background-hero);
	}
	h1{
    	font-size: var(--Display-small);
	}
	h2{
    	font-size: var(--Headline2-small);
	}
	p {
    	font-size: var(--Body-small);
	}
	.herosection {
		height:40rem;	
	}
	.hero_text{
		margin-top: 4rem;
	}
	.herosection h2 {
		width: 25rem;
		max-width: 25rem;  
	}

	.grid_1-1 {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

	section {
        padding-inline: 1rem;
        padding-bottom: 4rem;
    }

    .section_1 {
        padding-top: 4rem;
    }

    .section2 {
        padding-block: 2rem;
    }

	img{
		max-width: 15rem;
		margin-inline: auto;
	}

	.reverse {
		grid-column: 1;
		grid-row: 1;
	}

	.loesning img {
		grid-column: 1;
		grid-row: 1;
	}
}

</style>
