---
import MainLayout from "../layout/MainLayout.astro"
import Text from "../components/Text.astro"
import Formular from "../components/Formular.astro"
import Button from "../components/Button.astro"
---

<MainLayout title="Plastic-change">
	<section class="herosection">
		<div class="herounit">
		<div class="hero_text">
		<Text/>
		<h2>Bliv en plastic changer og støt os i kampen mod plastikforurening </h2>
	</div>
	</div>
		<Formular/>
	</section>

	<section class="section1">
		<article class="sus">
		<div class="text">
		<h2>#SingleUseSucks</h2>
		<p>
			Plastik er et fantastisk materiale, der gør livet lettere for os alle samme - Men det skal bruges rigtigt. 
			Plastik og især engangsplastik har vidtrækkende konsekvenser for klima, klodens ressourcer, biodiversitet, livet i havet og forurening samt menneskers sundhed.
			Derfor er det vigtigt, at vi skrider ind nu og lukker for plastikhanen, inden det er for sent.
		</p>
		<Button variant="primary" link="/sus">Læs mere her</Button>
		</div>
		<img src="/img/genbrugscirkel.svg" alt="Genbrugs cirkel">
		</article>
	</section>

	<section class="section2">
		<article class="loesning">
		<div class="text reverse">
		<h2>Hvad er løsningen</h2>
		<p>
			I en verden hvor vi udleder 8 mio. tons affald i verdenshavene er det vigtigt at vi begynder at tænke over, hvordan vi bruger og ikke mindst genbruger vores plastik. <br>
			Men skal vi genbruge eller genanvende? hvad er bedst for miljøet? og hvad er nemmest for os? <br>
			Vi skal sammen komme væk fra “brug-og-smid-væk-kulturen” da dette ikke bidrager til at genbruge, men derimod genanvende, og netop det at genanvende er en meget længere process der kun bidrager til mere CO2 udledning. <br>
			Så hvad er den bedste løsning?
		</p>
		<Button variant="primary" link="/genbrug">Læs mere her</Button>
		</div>
		<div class="img">
		<img src="/img/taanker.svg" alt="Tegning af en pige der er forvirret">
		</div>
		</article>
	</section>
</MainLayout>

<style>
	.herosection {
		height: 52.625rem;
		background: var(--color-background-hero);
		
	}

	.herosection h2 {
		color: var(--color-text-h3-secondary);
		width: 35rem;
		max-width: 85rem;
		margin-top: 2rem;
  
	}

	.reverse {
		grid-column: 2;
		grid-row: 1;
	}
.hero_text{
	width: 75rem;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 8rem;
}

.herounit {
	max-width: 85rem;
}

	.sus {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 94.5rem;
		justify-content: center;
		align-items: center;
		gap: 8rem;
		margin-inline: auto;
		max-width: 85rem;
	}

	.loesning {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: center;
		align-items: center;
		gap: 8rem;

		margin-inline: auto;
		max-width: 85rem;
	}

	

	.section2 {
		background-color: var(--color-background-section);
	}

	.text {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 2.5rem;
	}

    section {
		padding-top: 6.25rem;
        padding-bottom: 6.25rem;
	}

	img{
		max-width: 25rem;
		margin-inline: auto;
	}

	/*Tablet*/
	@media (max-width: 1025px){

		.hero_text{
	width: 55rem;
	margin-top: 8rem;
}

		.sus {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 55rem;
	
		gap: 6rem;

		max-width: 1025px;
	}

	img{
		max-width: 20rem;
	}
	.loesning {
		display: grid;
		grid-template-columns: 1fr 1fr;
		width: 55rem;
		gap: 6rem;
		max-width: 1025px;
	}

h1{
    font-size: var(--Display-medium);
}
h2{
    font-size: var(--Headline2-medium);
}
p {
    font-size: var(--Body-medium);
	}
	}

	/*Mobil*/
@media (max-width: 431px){
	.herosection {
		height:40rem;
	
		
	}
	.hero_text{
	width: 25rem;
	margin-top: 8rem;
}
.herosection h2 {
	
		width: 25rem;
		max-width: 25rem;
	
  
	}
	.sus {
		display: grid;
		grid-template-columns: 1fr;
		width: 25rem;
	
		gap: 6rem;

		max-width: 431px;
	}

	img{
		max-width: 15rem;
		margin-inline: auto;
	}
	.loesning {
		display: grid;
		grid-template-columns: 1fr;
		width: 25rem;
		gap: 6rem;
		max-width: 431px;
	}

	.reverse {
		grid-column: 1;
		grid-row: 1;
	}

	.loesning img {
		grid-column: 1;
		grid-row: 1;
	}

h1{
    font-size: var(--Display-small);
}
h2{
    font-size: var(--Headline2-small);
}
p {
    font-size: var(--Body-small);
	}
}

</style>
