---
import MainLayout from "../layout/MainLayout.astro"
---

<MainLayout tittle="Konsekvenserne-af-forbruget">
<section class="hero-section">
    <div class="herotext">
    <div class="heroh2">
    <h2 class="h2_hero">Et skadeligt aftryk</h2>
    </div>
    <h1>Konsekvenserne af forbruget</h1>
    </div>
</section>

<section class="section_1">
     <div class="section">   
    <div class="h2">
    <h2 class="h2_section">Det ender i havet</h2>
    </div>
    <article class="grid_1-1 grid1">
        <div class="del1">
    <p>
        Plastik er en stor del af vores hverdag på både godt og ondt. Vi omgåes det hele tiden i form af plastikemballage om madvarer, tandpastatuben, flasker, vores syntetiske tøj, møbler mm. 
        Udover den plastik vi kender findes der også mikroplastik, som er plastikpartikler under 5 mm. Disse partikler findes i blandt andet skønheds- og plejeprodukter, maling og mad mm.
    </p>
    <br> <br>
    <p>
        I 2015 blev det konkluderet, at der hvert år udledes omkring 8 mio. tons affald i verdenshavene. 
        Dette svarer til en lastbil fuld af plastik bliver tømt ud i havene hvert eneste minut. 
    </p>
    <br> <br>
        <p>
            Alle disse tons affald har fatale konsekvenser, ikke mindst for vores dyreliv i havene. Der findes både internationale og danske studier der viser, at der findes plastikpartikler i vores muslinger, drikkevand, salt, honning, øl og i rigtig mange dyremaver.
            I havfuglearter er det mere end 90% der har plastik i maven netop fordi dyrene forveksler alt det plastik, der ligger i havene, med mad. 
    </p>
  
</div>
<div class="del2">
        <p>
            Men hvor kommer alt denne plastik så fra? <br>
            Plastikken ender i havene gennem mange forskellige ruter. FN´s miljøprogram og miljøorganisation UNEP vurderer i en rapport fra 2016, at globalt set, stammer 80% af det affald, som ender i havet fra landbaseret aktiviteter. 
            Disse landbaseret aktiviteter er ting som, lossepladser, industri, udledning fra stormflodsafløb, ubehandlet spildevand og turisme. De resterende 20% kommer fra aktiviteter på havet, såsom fiskeri, containertransport, færger og krydstogtskibe, men også fra offshore industri som olie og gas platforme.
        </p>
        <img src="img/vandmand.svg" alt="Vandmænd som plastikposer">
    </div>
        <article>
    </div> 
</section>

<section class="section_2">
    <div class="section">
    <article class="grid_1-1 grid2">
        <div class="del1">
    <img src="/img/plastikfisk.svg" alt="En plastik fisk på en tallerken">
</div>
<div class="del2 reverse">
    <h2 class="h2_section">Det ender i os</h2>
    <p>
        Rigtig meget plastik ender i havet. Her bliver det til mikroplastik, som er små plastikpartikler på under 5mm.
        <br> <br>
        Mikroplastik er småt og kan nemt forveksles med mad for fisk og andre havdyr. 
        Det er en af de måder, plastik ender i vores fødevare. 
        Når fisk spiser plastikstykker, sker der nogle processer i fiskens mave, som gør, at nogle af de kemikalier der findes i eller på overfladen af plastik, ”overføres” til fiskens væv. Når vi spiser fisken, kan disse kemikalier derfor blive overført videre til os. 
        Eksempler på fødevarer vi spiser til hverdag, som der er fundet plastik i er bl.a. sild, honning, øl, vin, muslinger, havsalt og vand på flaske.
        Det er estimeret, at der globalt spildes 951.00 tons mikroplastik ud i miljøet om året.
    </p>
</div>
</article>
</div>
</section>

<section class="havet">
    <img src="/img/vandskrald.svg" alt="Infografik om hvor meget plastik der er i vandet">
</section>
</MainLayout>

<style>
    .hero-section{
        background: var(--color-background-hero, #FF1054);
        height: 553px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .herotext {
        width: 61.0625rem;
        margin-inline: auto;
    }

    .h2_hero{
        color: var( --color-text-h3-secondary);
    }

    h1{
        max-width: 1085px;
        margin-inline: auto;
    }

    section {
        padding-inline: 2rem;
        padding-bottom: 9.375rem;
    }    
    
    .section {
        width: 81.8125rem; 
        margin-inline: auto;
    }

    .section_1 {
        padding-top: 9.375rem;
    }
    .havet {
        padding-inline: 0rem;
        padding-bottom: 0rem;
    }

    .h2_section{
     padding-bottom: 40px;
    }

    .h2 {
        width: 81.8125rem;
        display: flex;
        justify-content: flex-start;
    }

    .grid_1-1{
        display: grid;
		grid-template-columns: 1fr 1fr;
        gap: 5rem;
    }

    span{
        color: var(  --color-text-h3);
    }

/*Tabelt*/
@media (max-width: 1025px){

    h1{
        font-size: var(--Display-medium);
    }
    h2{
        font-size: var(--Headline2-medium);
    }
    p {
        font-size: var(--Body-medium);
	}

    .section{
        width: 52.625rem;
    }

    section {
        padding-inline: 2rem;
        padding-bottom: 6rem;
    }

    .section_1 {
        padding-top: 6rem;
    }    
    
    .h2 {
        width: auto;
    }

    .herotext {
        width: 52.625rem;
    } 
}


 /*Mobil*/
 @media (max-width: 431px){

    h1{
    font-size: var(--Display-small);
}
h2{
    font-size: var(--Headline2-small);
}
h3{
    font-size: var(--Headline3-small);
}
p {
    font-size: var(--Body-small);
	} 

    .section{
        width: 20rem;
    }

    section {
        padding-inline: 1rem;
        padding-bottom: 4rem;
    }

    .section_1 {
        padding-top: 4rem;
    }

    .section_3 {
        padding-block: 2rem;
    }

    .h2 {
        width: auto;
    }

    .del1 {
        height: 450px;
    }

    .herotext {
        width: 20rem;
    }

    .grid_1-1 {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .grid1 {
        grid-template-rows: 380px 395px;
    }

    .grid2 {
        grid-template-rows: 300px 280px;
    }

    .reverse {
        grid-column: 1;
        grid-row: 1;
    }

    .del1 img {
        max-width: 270px;
        margin-inline: auto;
    }

} 

</style>