---
import Mainlayout from "../layout/Mainlayout.astro";
import Button from "../components/Button.astro"
---

<Mainlayout title="SingleUseSucks">
<section class="hero">
    <h1><span>#SingleUseSucks</span></h1>
</section>

<section class="section1">
    <div class="section">
    <article class="what grid_1-1 grid1">
        <div class="text">
    <h2>Hvad er Single Use?</h2>
    <p>
        Vi har sagt det før og vi siger det igen: plastik er et fantastisk materiale, der har en masse fordele, og gør livet lettere for os alle sammen. <br>
        Plastik har dog også en slagside, idet det vi siden 1950’erne har produceret mere end 9 milliarder ton plastik. Størstedelen bliver brugt til engangsemballager og -produkter med kort levetid og lav markedsværdi, selvom plastmaterialet egentligt kan holde i mange år. 
        <br> <br>
        Det har ført til, at vi indenfor de næste 20 år forventer, at den globale plastikproduktion fordobles, og i samme periode forventes plastikforureningen at firedobles. 
        Plastik og især engangsplastik er grunden til at vi ser plastikforurening og mikroplastik i alle verdens afkroge, i maver på uskyldige dyr og nu senest ophober den sig flere og flere steder i menneskekroppen.
    </p>
    </div>
    <img src="/img/skraldebunke.svg" alt="Affaldsbunke">
    </article>
    </div>
</section>

<section class="infografik">
    <div class="section">
    <h2>Hvad bliver plastik brugt til?</h2>
    <div class="infografik_billede">
    <img src="/img/diagram.svg" alt="Infografik om hvad plastikken går til">
    <p>Knap 40% af den plastik, der produceres, er plastik til fødevareemballage. En stor andel heraf er engangsplastik.</p>
</div>
</div>
</section>

<section class="section2">
    <div class=" section grid_1-1 section_2">
        <article class="text">
            <h2>Konsekvenserne</h2>
            <h4> 
                "Én ting er plastikforurening. Noget andet er de mange kemikalier, som plastikken er tilsat. Det er især dem, vi skal være bekymrede for."
            </h4>
            <br>
            <p>
                Så hvad er konsekvenserne egentlig for vores plastikforbrug?
            </p>
            <Button variant="primary" link="/konsekvenser">Læs om konsekvenserne</Button>
        </article>
    <article class="text">
        <h2>Hvad kan vi egentlig gøre?</h2>
        <h4> 
            "Faktisk er det meget begrænset, hvad den almindelige borger kan gøre for at bremse de største kilder til mikroplastikspild og forurening."
        </h4>
        <br> 
        <p>
            Så hvad er løsningen på vores “throw away living” livstil?
        </p>
        <Button variant="primary" link="/genbrug">Læs om løsningen</Button>
    </article> 
    </div>
</section>
</Mainlayout>

<script>
    import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	
	
	gsap.registerPlugin(ScrollTrigger);
	
	gsap.from(".section1", {
	scrollTrigger: {
		scrub: true,
		trigger: ".hero",
		start: "170 start",
		end: "1000 center",
		// markers: true,
	},
	opacity:0,
	duration:0.5,
	}); 

	gsap.from(".infografik", {
	scrollTrigger: {
		scrub: true,
		trigger: ".section1",
		start: "0 start",
		end: "1000 center",
		// markers: true,
	},
	opacity:0,
	duration:0.5,
	}); 

    gsap.from(".section_2", {
	scrollTrigger: {
		scrub: true,
		trigger: ".infografik",
		start: "170 start",
		end: "1000 center",
		// markers: true,
	},
	opacity:0,
	duration:0.5,
	});
</script>

<style>
span {
    font-size: 8.915rem;
}

.hero {
    background-color: var(--color-background-hero);
    background-image: url("/img/singleusesucks.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    height: 52.625rem;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid_1-1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5rem;
	}

h2 {
    padding-bottom: 40px;
}

.section {
    width: 100%; 
    margin-inline: auto;
}

.section1 {
    padding-top: 9.375rem;
}
section {
    padding-inline: 6rem;
    padding-bottom: 9.375rem;
}
.what img{
    max-width: 30rem;
    margin-inline: auto;
}

.text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2.5rem;
}

.infografik {
    width: 94.5rem;
    margin-inline: auto;
	max-width: 85rem;
}

.infografik img {
    width: 70rem;
    height: 38.99231rem;
    margin-inline: auto;
}

.section2 {
    padding-block: 4rem;
	background-color: var(--color-background-section);
}
h4{
    color: var(--color-text-h3);
}

    /*Tablet*/
@media screen and (min-width: 768px and max-width: 1023px){
    h2{
        font-size: var(--Headline2-medium);
    }
    h3{
        font-size: var(--Headline3-medium);
    }
    p {
        font-size: var(--Body-medium);
	}
    span {
        font-size: var(--Display-large);
    }
    .what img{
		max-width: 20rem;
	}
    section {
        padding-inline: 2rem;
        padding-bottom: 6rem;
    }
    .section1 {
        padding-top: 6rem;
    }
     .infografik {
        width: 55rem;
        margin-inline: auto;
		max-width: 1025px;
    }

    .infografik img {
        width: 55rem;
        max-width: 1025px;
    }

}

/*Mobil*/
@media screen and (max-width: 767px){
    h2{
        font-size: var(--Headline2-small);
    }
    h3{
        font-size: var(--Headline3-small);
    }
    p {
        font-size: var(--Body-small);
	}
    span {
        font-size: var(--Display-medium);
    }
    .grid_1-1{
		grid-template-columns: 1fr;
		gap: 2rem;
    }

    .what img{
        max-width: 15rem;
		margin-inline: auto;
	}

    .infografik img {
        width: 20rem;
        max-width: 431px;
        height: 15rem;
    }

    section {
        padding-inline: 1rem;
        padding-bottom: 4rem;
    }

    .section1 {
        padding-top: 4rem;
    }

    .section2 {
        padding-block: 2rem;
    }


    .infografik {
        width: 20rem;
    }

    .text {
        gap: 1rem;
    }
}
</style>