---
import MainLayout from "../layout/MainLayout.astro"
import Button from "../components/Button.astro"
---

<section>
    <h1><span>#SingleUseSucks</span></h1>
</section>

<section>
    <h2>Hvad er Single Use?</h2>
    <p>
        Vi har sagt det før og vi siger det igen: plastik er et fantastisk materiale, der har en masse fordele, og gør livet lettere for os alle sammen. <br>
        Plastik har dog også en slagside, idet det vi siden 1950’erne har produceret mere end 9 milliarder ton plastik. Størstedelen bliver brugt til engangsemballager og -produkter med kort levetid og lav markedsværdi, selvom plastmaterialet egentligt kan holde i mange år. 

        Det har ført til, at vi indenfor de næste 20 år forventes den globale plastikproduktion fordobles, og i samme periode forventes plastikforureningen at firedobles. 
        Plastik og især engangsplastik er grunden til at vi ser plastikforurening og mikroplastik i alle verdens afkroge, i maver på uskyldige dyr og nu senest ophober den sig flere og flere steder i menneskekroppen.
    </p>
    <img src="" alt="Affaldsbunke">
</section>

<section>
    <h2>Hvad bliver plastik brugt til?</h2>
    <img src="" alt="Infografik om hvad plastikken går til">
</section>

<section>
    <article>
        <h2>Men hvad kan vi egentlig gøre?</h2>
        <h3> 
            “Faktisk er det meget begrænset, hvad den almindelige borger kan gøre for at bremse de største kilder til mikroplastikspild og forurening”
        </h3>
        <p>
            Så hvad er løsningen på vores “throw away living” livstil?
        </p>
        <Button variant="primary">Læs mere her</Button>
    </article>

    <article>
        <h2>Konsekvenser</h2>
        <h3> 
            “Én ting er plastikforurening. Noget andet er de mange kemikalier, som plastikken er tilsat. Det er især dem, vi skal være bekymrede for.”
        </h3>
        <p>
            Så hvad er konsekvenserne egentlig for vores plastikforbrug?
        </p>
        <Button variant="primary">Læs mere her</Button>
    </article>
</section>