:root {
  /*Baggrunds farver*/
  --color-background-primary: #f7f9fa;
  --color-background-section: #c5dbd8;
  --color-background-hero: #ff1054;
  --color-background-nav: #ffffff;
  --color-background-footer: #ffffff;
  --color-background-formular: #ffffff;

  /*Tekst farver*/
  --color-text-display: #ffffff;
  --color-text-h2: #1c1e23;
  --color-text-h3: #ff1054;
  --color-text-h3-secondary: #ffffff;
  --color-text-h4: #1c1e23;
  --color-text-body: #1c1e23;
  --color-text-nav: #70727e;
  --color-text-nav-hover: #1C1E23;
  --color-text-footer: #70727e;

  /*Knap farver*/
  --color-button-background: #ff1054;
  --color-button-background-hover: rgba(255, 255, 255, 0);
  --color-button-text: #ffffff;
  --color-button-text-hover: #ff1054;
  --color-button-stroke: #ff1054;

  /*Ikon farver*/
  --color-icon-background: #ffffff;
  --color-icon-text: #ff1054;
  --color-icon-background-hover: #ff1054;
  --color-icon-text-hover: #ffffff;

  /*Typografi*/
  --Display-Xlarge: 8.915rem;
  --Display-large: 4.29938rem;
  --Display-medium: 2.98563rem;
  --Display-small: 2.07375rem;

  --Headline2-large: 2.07375rem;
  --Headline2-medium: 1.72813rem;
  --Headline2-small: 1.44rem;

  --Headline3-large: 1.44rem;
  --Headline3-medium: 1.2rem;
  --Headline3-small: 1rem;

  --Headline4-large: 1rem;
  --Headline4-medium: 0.83313rem;
  --Headline4-small: 0.69438rem;

  --Label-large: 1rem;
  --Label-medium: 0.83313rem;
  --Label-small: 0.69438rem;

  --Body-large: 1rem;
  --Body-medium: 0.83313rem;
  --Body-small: 0.69438rem;

  /*Padding*/
  --spacing-vertical-button-lg: 0.9375rem;

  --spacing-horizontal-button-sm: 2.5rem;
  --spacing-horizontal-button-lg: 7.5rem;

  /*Radius*/
  --radius-rounded-1: 0.3125rem;
  --radius-rounded-2: 0.625rem;
  --radius-pill: 99999rem;

  /*Gap*/
  --spacing-12: 6.25rem:
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: var(--color-background-primary);
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Rubik";
  src: url("Rubik-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Campton";
  src: url("CamptonBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: url("NotoSansDisplay-ExtraBold.woff2") format("woff2");
  font-display: swap;
}

h1 {
  font-family: "NotoSans", sans-serif;
  font-size: var(--Display-large);
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  color: var(--color-text-display);
}

h2 {
  font-family: "Campton", sans-serif;
  font-size: var(--Headline2-large);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-text-h2);
}

h3 {
  font-family: "Campton", sans-serif;
  font-size: var(--Headline3-large);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: var(--color-text-h3);
}

h4 {
  font-family: "Rubik", sans-serif;
  font-size: var(--Headline4-large);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: var(--color-text-h4);
}

p {
  font-family: "Rubik", sans-serif;
  font-size: var(--Body-large);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-text-body);
}

ul{
  font-family: "Rubik", sans-serif;
  font-size: var(--Body-large);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
