---
const {variant, link} = Astro.props
---

<button class={variant}> <a href={link}><slot/></a> </button>



<style>
    button {
        display: flex;
        width: auto;
        justify-content: space-between;
        align-items: center;
        border-radius: var(--radius-pill);
        border: none;
        outline: none;
    }

    button:hover {
        display: flex;
        width: auto;
        justify-content: space-between;
        align-items: center;
        border-radius: var(--radius-pill);
        border: none;
        outline: none;
    }

    button a {
        font-family: "Campton";
        font-size: var(--Label-large);
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        text-decoration: none;
    }

    .primary {
        color: var(--color-button-text);
        background: var(--color-button-background);
        border: 2px solid var(--color-button-stroke);
        padding: var(--spacing-vertical-button-lg) var(--spacing-horizontal-button-sm);
    }

    .primary a{
        color: var(--color-button-text);
    }

    .primary:hover {
        color: var(--color-button-text-hover);
        background: var(--color-button-background-hover);
        border: 2px solid var(--color-button-stroke);
        padding: var(--spacing-vertical-button-lg) var(--spacing-horizontal-button-sm);
    }

    .primary:hover a{
        color: var(--color-button-text-hover);
    }

    .secondary {
        color: var(--color-button-text);
        background: var(--color-button-background);
        border: 2px solid var(--color-button-stroke);
        padding: var(--spacing-vertical-button-lg) var(--spacing-horizontal-button-lg);
    }

    .secondary:hover {
        color: var(--color-button-text-hover);
        background: var(--color-button-background-hover);
        border: 2px solid var(--color-button-stroke);
        padding: var(--spacing-vertical-button-lg) var(--spacing-horizontal-button-lg);
    }

    .small {
        font-size: var(--Label-small);
    }

    .medium {
        font-size: var(--Label-medium);
    }

    .large {
        font-size: var(--Label-large);
    }

    @media screen and (max-width: 1025px){ 
        .primary a{
            font-size: var(--Label-medium)
        }

        .primary {
            padding-inline: 2.1875rem;
        }

        .primary:hover {
            padding-inline: 2.1875rem;
        }
    }

    @media screen and (max-width: 431px){
        .primary a{
            font-size: var(--Label-small)
        }

        .primary {
            padding-inline: 1.875rem;
        }

        .primary:hover {
            padding-inline: 1.875rem;
        }
    }

    
</style>