---
import Logo from "./Logo.astro";
---
<footer>
<div class="grid_1-1-1">
    <div class="info">
        <Logo size="large"/>
        <p>Mail. <a href="mailto:info@plasticchange.org">info@plasticchange.org</a></p>
        <p>Tlf. <a href="tel:+4542667246">+45 42 66 72 46</a></p>
        <p>Telefontid. Mandag - Fredag, <br> 10:00 - 15:00</p>
    </div>
    <div class="grid2_1-1-1">
<div class="generelt">
<h4>Generelt</h4>
<a href="/om">Hvad vi vil</a>
<br>
<a href="/konsekvenser">Konsekvenserne af forbruget</a>
<br>
<a href="/genbrug">Hvad er løsningen?</a>
<p>Presse</p>
<p>Kontakt os</p>
</div>
<div class="hvad_kan_du">
<h4>Hvad kan du gøre?</h4>
<p>Er du en Plastic Changer</p>
<p>Events</p>
<p>Støt som virksomhed</p>
<p>Foredrag om plastik</p>
<p>Gode råd</p>
</div>
<div class="viden">
    <h4>Viden</h4>
    <p>Videnscenter</p>
    <p>Udvalgte rapporter</p>
    <p>FAQ</p>
</div>
<div class="stoet">
    <h4>Støt nu</h4>
    <a href="/index">Giv os et bidrag</a>
    <p>Bliv medlem</p>
    <p>Lav et testamente</p>
    <p>Støt som virksomhed</p>
</div>
<div class="bank">
    <h4>Bank</h4>
    <p>CVR. 35778985</p>
    <p>Konto. 8411 0002039618</p>
    <p>MobilePay. 304961</p>
    <p>SWIFT. FAELDKK1</p>
    <p>IBAN. DK3584110002039618</p>
</div>
<div class="andet">
<h4>Andet</h4>
<p>Webshop</p>
<p>Privatlivspolitik</p>
<p>Betalingspolitik</p>
</div>
    </div>
    <div class="ikoner">
<div class="facebook"><svg xmlns="http://www.w3.org/2000/svg" width="10" height="19" viewBox="0 0 10 19" fill="none">
    <path d="M9.34469 10.625L9.86325 7.20655H6.62096V4.98822C6.62096 4.053 7.07388 3.14138 8.526 3.14138H10V0.230946C10 0.230946 8.66239 0 7.38349 0C4.71337 0 2.96806 1.63728 2.96806 4.60122V7.20655H0V10.625H2.96806V18.8889H6.62096V10.625H9.34469Z" fill="#FF1054"/>
  </svg></div>
  <div class="twitter"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="17" viewBox="0 0 21 17" fill="none">
    <path d="M18.7797 4.2367C18.793 4.42263 18.793 4.6086 18.793 4.79453C18.793 10.4656 14.4766 17 6.58751 17C4.15703 17 1.89923 16.2961 0 15.0742C0.345325 15.1141 0.677323 15.1273 1.03593 15.1273C3.04137 15.1273 4.88749 14.45 6.36172 13.2945C4.47578 13.2547 2.8953 12.0195 2.35076 10.3195C2.61641 10.3593 2.88202 10.3859 3.16095 10.3859C3.54609 10.3859 3.93128 10.3328 4.28985 10.2399C2.32423 9.84138 0.849965 8.11484 0.849965 6.02968V5.97657C1.42104 6.29533 2.08516 6.49454 2.78901 6.52107C1.63354 5.75075 0.876538 4.43592 0.876538 2.94841C0.876538 2.15155 1.089 1.42108 1.4609 0.783574C3.57263 3.3867 6.74686 5.08667 10.3062 5.27264C10.2398 4.95389 10.2 4.62189 10.2 4.28985C10.2 1.92576 12.1125 0 14.4898 0C15.7249 0 16.8406 0.517967 17.6242 1.35469C18.5937 1.16876 19.5234 0.810147 20.3468 0.318752C20.028 1.31487 19.3507 2.15159 18.4609 2.6828C19.3242 2.58988 20.1609 2.35076 20.9312 2.01876C20.3469 2.86873 19.6164 3.62573 18.7797 4.2367Z" fill="#FF1054"/>
  </svg></div>
  <div class="linkedin"><svg xmlns="http://www.w3.org/2000/svg" width="17" height="18" viewBox="0 0 17 18" fill="none">
    <path d="M3.80527 17.0697H0.280804V5.67315H3.80527V17.0697ZM2.04114 4.11855C0.914129 4.11855 0 3.18121 0 2.04956C8.06665e-09 1.50598 0.215048 0.984668 0.597836 0.600301C0.980623 0.215935 1.49979 0 2.04114 0C2.58248 0 3.10165 0.215935 3.48444 0.600301C3.86723 0.984668 4.08228 1.50598 4.08228 2.04956C4.08228 3.18121 3.16777 4.11855 2.04114 4.11855ZM16.9962 17.0697H13.4793V11.5219C13.4793 10.1998 13.4528 8.5042 11.6469 8.5042C9.81446 8.5042 9.53366 9.94068 9.53366 11.4267V17.0697H6.01299V5.67315H9.39326V7.22775H9.44259C9.91313 6.33233 11.0625 5.38738 12.7773 5.38738C16.3443 5.38738 17 7.74595 17 10.8094V17.0697H16.9962Z" fill="#FF1054"/>
  </svg></div>
  <div class="youtube"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="15" viewBox="0 0 20 15" fill="none">
    <path d="M19.5821 2.2003C19.3521 1.33421 18.6744 0.652111 17.8139 0.420629C16.2542 0 10 0 10 0C10 0 3.74586 0 2.18613 0.420629C1.32565 0.652148 0.647936 1.33421 0.417919 2.2003C0 3.77014 0 7.04545 0 7.04545C0 7.04545 0 10.3208 0.417919 11.8906C0.647936 12.7567 1.32565 13.4104 2.18613 13.6419C3.74586 14.0625 10 14.0625 10 14.0625C10 14.0625 16.2541 14.0625 17.8139 13.6419C18.6744 13.4104 19.3521 12.7567 19.5821 11.8906C20 10.3208 20 7.04545 20 7.04545C20 7.04545 20 3.77014 19.5821 2.2003ZM7.95453 10.0192V4.07171L13.1818 7.04552L7.95453 10.0192Z" fill="#FF1054"/>
  </svg></div>
  <div class="instagram"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17" fill="none">
    <path d="M9.00201 4.14141C6.44808 4.14141 4.38806 6.08742 4.38806 8.5C4.38806 10.9126 6.44808 12.8586 9.00201 12.8586C11.5559 12.8586 13.616 10.9126 13.616 8.5C13.616 6.08742 11.5559 4.14141 9.00201 4.14141ZM9.00201 11.3336C7.35159 11.3336 6.00234 10.0629 6.00234 8.5C6.00234 6.93713 7.34757 5.66635 9.00201 5.66635C10.6564 5.66635 12.0017 6.93713 12.0017 8.5C12.0017 10.0629 10.6524 11.3336 9.00201 11.3336ZM14.8809 3.96313C14.8809 4.52834 14.399 4.97975 13.8047 4.97975C13.2064 4.97975 12.7285 4.52455 12.7285 3.96313C12.7285 3.40171 13.2104 2.9465 13.8047 2.9465C14.399 2.9465 14.8809 3.40171 14.8809 3.96313ZM17.9368 4.99492C17.8685 3.6331 17.5392 2.42681 16.4831 1.43295C15.431 0.439083 14.154 0.128026 12.7124 0.0597456C11.2267 -0.0199152 6.77334 -0.0199152 5.28756 0.0597456C3.84997 0.124233 2.57301 0.43529 1.5169 1.42915C0.460792 2.42302 0.135527 3.62931 0.063246 4.99113C-0.021082 6.39468 -0.021082 10.6015 0.063246 12.0051C0.131511 13.3669 0.460792 14.5732 1.5169 15.5671C2.57301 16.5609 3.84596 16.872 5.28756 16.9403C6.77334 17.0199 11.2267 17.0199 12.7124 16.9403C14.154 16.8758 15.431 16.5647 16.4831 15.5671C17.5352 14.5732 17.8645 13.3669 17.9368 12.0051C18.0211 10.6015 18.0211 6.39847 17.9368 4.99492ZM16.0173 13.511C15.7041 14.2545 15.0977 14.8273 14.3066 15.127C13.122 15.5708 10.3111 15.4684 9.00201 15.4684C7.69292 15.4684 4.87797 15.5671 3.69738 15.127C2.91032 14.8311 2.30396 14.2583 1.98673 13.511C1.5169 12.392 1.62532 9.73664 1.62532 8.5C1.62532 7.26336 1.52091 4.60421 1.98673 3.48895C2.29994 2.74545 2.9063 2.17265 3.69738 1.87298C4.88199 1.42915 7.69292 1.53157 9.00201 1.53157C10.3111 1.53157 13.126 1.43295 14.3066 1.87298C15.0937 2.16886 15.7001 2.74166 16.0173 3.48895C16.4871 4.608 16.3787 7.26336 16.3787 8.5C16.3787 9.73664 16.4871 12.3958 16.0173 13.511Z" fill="#FF1054"/>
  </svg></div>
    </div>
</div>
</footer>

<style>

footer{
background: var(--color-background-footer);
box-shadow: 0px -10px 40px 0px rgba(217, 217, 217, 0.41);
padding-top: 2rem;
padding-bottom: 2rem;
}
.grid_1-1-1{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
display: flex;
width: 1512px;
height: 580px;
padding: 2rem 2.1rem;
justify-content: center;
align-items: flex-start;
align-content: flex-start;
gap: 2rem 10rem;
flex-shrink: 0;
flex-wrap: wrap;
}

.grid2_1-1-1{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 2rem;
}

.info{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 1rem;
}

.generelt, .hvad_kan_du, .viden, .stoet, .bank, .andet{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 0.5rem;
padding-bottom: 1rem;
}
.ikoner{
display: flex;
gap: 1rem;
    }

a{
color: var(--color-text-link);
text-decoration: none;
}
@media (max-width: 1025px) {

}
</style>