---
const {size} = Astro.props
---


<div class="logo">
    <a href="/" class={size}> Plastic change</a>
  </div>
  
<style>
.logo a {
    background: var(--color-icon-background-hover);
    color: var(--color-icon-text-hover);

    display: block;
    width:175px;
    padding: 20px;
    text-decoration: none;
    font-family: "NotoSans", sans-serif;
  font-style: normal;
  font-weight: 800;
  line-height: 100%;
  }

  .large {
    font-size: 1.2rem;
  }

  .small {
    font-size: 0.8rem;
    width: 130px;
  }
  </style>