<div class="logo">
    <a href="/"> plastic change</a>
  </div>
  
<style>
.logo a {
    background: var(--color-icon-background-hover);
    color: var(--color-icon-text-hover);

    display: block;
    width:175px;
    padding: 20px;
    text-decoration: none;
    font-family: "NotoSans", sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 800;
    line-height: 100%;
  }

  @media screen and (max-width: 1025px) {
    .logo a {
      font-size: 1rem;
      width: 155px;
    }
  }

  @media screen and (max-width: 431px) {
    .logo a {
      font-size: 0.8rem;
      width: 130px;
    }
  }
  </style>